* {
  margin: 0;
  padding: 0;
}

.detailCatalogo {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: auto;
}

.detailCatalogo h1 {
  margin: 2vh;
  font-size: 5vh;
}

.nombre {
  font-size: 4vh;
  margin: 1vh;
}

.descripcion {
  font-size: 3vh;
  margin: 1vh;
}

.precio {
  font-size: 3vh;
  margin: 1vh;
}