* {
  margin: 0;
  padding: 0;
}

.listCatalogo {
  text-align: center;  
  padding: 3vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
